<%# DASHBOARD %>
<div class='main-wrapper'>
  
   <%= render 'shared/navbar'%>

   <div id='dashboard-wrapper'>
      <div id='container-dash'>
         <div class='dashboard-head'>
            <h2>Dashboard</h2> 
            <div class='username-container'>
               <div class='username-picture'>
               </div>
               <div>
                  <h3><%= @user.username %></h3>
                  <p>Owner</p>
               </div>
            </div>
         </div>

         <div class='dashboard-main'>
            <div class='dashboard-main-left'>
               <div class='top-row'>
                  <div>
                     <h4>Balance</h4>
                  </div>
               
                  <div>
                     <h4>Investment</h4>
                     <% @transactions.each do |t|%>
                        <%if t.income == nil || t.income == '' %>
                           income
                        <%else%>
                           <p> Income: <%=link_to  t.income.name, income_path(t) %></p><br/>
                        <%end%>
                     <%end %>
                  </div>
               </div>

               <div class='dashboard-main-left-row'>
                  <h4>Expense</h4>
                  <% @transactions.each do |t|%>
                     <%if t.expense == nil || t.expense == ''%>
                        expense
                     <%else%>
                        <p> Expense: <%=link_to  t.expense.name, expense_path(t) %></p><br/>
                     <%end%>
                  <%end %>
               </div>

               <div class='dashboard-main-left-row'>
                   <h4>Income</h4>
                  <% @transactions.each do |t|%>
                     <%if t.stock == nil || t.stock == ''%>
                     <%else%>
                        <p> Stock: <%=link_to  t.stock.symbol, stock_path(t) %></p><br/>
                     <%end%>
                  <%end %>
               </div>
            </div>
            <div class='transaction-row'>
           <h4>Recent payment</h4> 
            </div>
         </div>
      </div>

   </div>


</div>
