<%# DASHBOARD %>
<h1><%= @user.username %>'s Dashboard!</h1> 

<h2>Email: <%= @user.email%></h2>

<% @transactions.each do |t|%>
   <%if t.bank_account == nil || t.bank_account == '' %>
   <%else%>
      <p> Bank: <%=link_to  t.bank_account.name, bank_account_path(t) %></p><br/>
   <%end%>
<%end %>
<% @transactions.each do |t|%>
   <%if t.income == nil || t.income == '' %>
   <%else%>
      <p> Income: <%=link_to  t.income.name, income_path(t) %></p><br/>
   <%end%>
<%end %>

<% @transactions.each do |t|%>
   <%if t.expense == nil || t.expense == ''%>
   <%else%>
      <p> Expense: <%=link_to  t.expense.name, expense_path(t) %></p><br/>
   <%end%>
<%end %>

<% @transactions.each do |t|%>
   <%if t.portfolio == nil || t.portfolio == '' %>
   <%else%>
   
   <%end%>
<%end %>


<%= link_to "new stock", search_stocks_path %>
<%= link_to "new Income", new_income_path %>
<%= link_to "new Expense", new_expense_path %>
<%= link_to "new bank account", new_bank_account_path %>
<%= link_to "new transactions", new_transaction_path %>