<div class='main-wrapper'>
  <%= render 'shared/secondnavbar'%>

 <div id='dashboard-wrapper'>
    <div id='container-dash'>
      <section id='form-container'>
            <%= form_for @income do |f| %> 
            <h1>New Income</h1>

            <section class='mb-3'>
                <%= f.label :Name_of_Income , class:  "form-label" %>
                <%= f.text_field :name  , class: "form-control"%>
            </section>
            <section class='mb-3'>
                <%= f.label :Amount, class:  "form-label" %>
                <%= f.number_field :amount  , class: "form-control" %>
            </section>
            <section class='mb-3'>
                  <%= f.label :Description , class:  "form-label" %>
                  <%= f.text_field :description , class: "form-control" %>
            </section>
            <section class='button-container'>
              <%= f.submit "Submit", class: "btn btn-primary" %>
            </section>
          <% end %>
      </section>
  </div>
  </div>
</div>